@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Headings  */

h1 {
  @apply text-2xl mb-5 font-semibold;
}

h2 {
  @apply text-lg mb-1 font-medium;
}

h3 {
  @apply text-base mb-1 font-medium;
}

/* Buttons */

.btn-primary {
  @apply text-white text-base rounded-md py-1 px-3 bg-primary_dark2 hover:bg-primary_dark2_hover;
}

.btn-secondary {
  @apply bg-secondary text-black text-base rounded-sm py-1 px-2 mb-5 outline-none dark:bg-slate-700 dark:text-white dark:hover:bg-slate-600;
}

.btn-edit {
  @apply text-white flex gap-2 px-3 pr-5 py-1 rounded-md bg-primary_dark2 hover:bg-primary_dark2_hover;
}

.btn-delete {
  @apply bg-danger text-white hover:bg-red-700 flex gap-2 px-3 pr-5 py-1 rounded-md;
}

.btn-dark {
  @apply bg-gray-100 text-black hover:bg-white;
  transition: all 0.12s;
}

.btn-outline {
  @apply border border-gray-400 px-3 py-0.5 rounded-md;
}

/* Flex center center */
.flex-center {
  @apply flex gap-2 items-center justify-center;
}

/* Form fields */

input,
textarea,
select {
  @apply bg-gray-100 text-black w-full rounded-sm py-1 px-2 mb-5 outline-none dark:bg-slate-700 dark:text-white;
}

input:focus,
textarea:focus,
select:focus {
  @apply ring-1 ring-blue-500 ring-offset-1 dark:ring-slate-700;
}

/* Table */

table.basic {
  @apply w-3/4 dark:bg-slate-700 rounded-md m-10 shadow-md shadow-gray-300 dark:shadow-gray-900;
}

table.basic thead {
  @apply text-lg font-semibold border-b border-gray-400 dark:border-gray-600;
}

table.basic thead tr td,
tbody tr td {
  @apply px-4 py-2;
}

table.basic td {
  @apply py-1 my-1;
}
