@tailwind base;
@tailwind components;
@tailwind utilities;

/* Headings  */

h1 {
  @apply text-2xl mb-5 font-semibold;
}

h2,
.h2 {
  @apply text-lg mb-1 font-medium;
}

/* Buttons */

.btn-primary {
  @apply bg-primary text-base rounded-md py-1 px-3 hover:bg-primary_hover;
}

.btn-secondary {
  @apply bg-secondary text-black text-base rounded-sm py-1 px-2 mb-5 outline-none;
}

.btn-edit {
  @apply bg-primary hover:bg-primary_hover flex gap-2 px-3 py-1 rounded-md;
}

.btn-delete {
  @apply bg-danger hover:bg-red-700 flex gap-2 px-3 py-1 rounded-md;
}

.btn-dark {
  @apply bg-gray-100 text-black hover:bg-white;
  transition: all 0.12s;
}

/* Flex center center */
.flex-center {
  @apply flex gap-2 items-center justify-center;
}

/* Form fields */

input,
textarea,
select {
  @apply text-black w-full rounded-sm py-1 px-2 mb-5 outline-none;
}

input:focus,
textarea:focus,
select:focus {
  @apply ring-1 ring-blue-500 ring-offset-2;
}

/* Table */

table.basic {
  @apply w-3/4 bg-gray-800 rounded-md m-10 shadow-md shadow-gray-900;
}

table.basic thead {
  @apply text-lg font-semibold border-b border-gray-600;
}

table.basic thead tr td,
tbody tr td {
  @apply px-4 py-2;
}

table.basic td {
  @apply py-1 my-1;
}
